@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Mulish&display=swap");

.border-rounded {
  border-radius: 20px;
  min-height: 40vh;
}
.button-rounded {
  border-radius: 20px;
  background-color: #6a5acd;
}
.img-border {
  border-radius: 10px;
}

.center-vertical {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-45%);
  transform: translateY(-45%);
}
.bg-theme {
  background-color: rgb(224, 224, 224);
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.006);
}
.zoom1 {
  transition: transform 0.2s;
}

.zoom1:hover {
  transform: scale(1.02);
}
.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
  filter: invert(100%);
}
.text-font {
  font-family: "Baloo Bhaijaan 2", cursive;
  font-family: "Mulish", sans-serif;
  letter-spacing: 1px;
}
.bTheme{
  background-color: #6a5acd;
}
.font-size1{
  font-size: 12px;
}
.font-size2{
  font-size: 9px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}
.bck{
  background-color: rgb(211, 211, 211);
}